<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="center" style="display:flex; justify-content: center;  margin: 0;">
        <% if(message!==null) {%>
            <%= message %>
                <%}else{%>
                    Thank you
                    <%}%>
    </div>
    <script>
        let token = `<%= token%>`;
        if (token === "") {
            let data = {
                message: `<%=message%>`
            }
            alert(data.message)
            console.log("Data:", data);
            if (window.ReactNativeWebView) {
                window.ReactNativeWebView.postMessage(data)
            }
            else {
                window.location.href = "http://www.w3schools.com";
            }
        }
        else {
            let data = {
                message: `<%=message%>`,
                token: `<%= token%>`
            }
            alert(data.message)
            console.log("Data:", data);
            if (window.ReactNativeWebView) {
                window.ReactNativeWebView.postMessage(data)
            }
            else {
                window.location.href = "http://www.w3schools.com";
            }
        }
    </script>
</body>

</html>